{% extends 'base.html.twig' %}
{% block title %}{{ 'signin'|trans }}{% endblock %}
{% block body %}
<form method="post" class="base main-color max-w-md items-center">
    {% if error %}
        <p class="bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300 p-2 rounded-md text-sm">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    <h2 class="text-2xl font-semibold text-center">{{ 'signin'|trans }}!</h2>
    <input type="email" value="{{ last_username }}" name="_username" id="username" class="w-full p-2 border rounded-md bg-gray-50 dark:bg-gray-700 dark:border-gray-600" placeholder="{{ 'email'|trans }}" autocomplete="email" required autofocus>
    <input type="password" name="_password" id="password" class="w-full p-2 border rounded-md bg-gray-50 dark:bg-gray-700 dark:border-gray-600" placeholder="{{ 'password'|trans }}" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me">Remember me</label>
        </div>
    #}

    <button class="btn-accent w-full font-semibold px-4 py-2 rounded-md" type="submit">{{ 'signin'|trans }}</button>
    <a href="{{ path('app_register') }}" class="btn-gray w-2/3 text-center p-2 rounded-md text-sm">{{ 'register.new'|trans }}</a>
</form>
{% endblock %}
