<section class="base main-color">
    <h3 id="comments_artwork" class="text-xl font-semibold" {{ turbo_stream_listen('comment') }}>{{'comments'|trans}}</h3>
    {% for comment in artwork.comments %}
        <article id="comment_{{ comment.id }}" class="border-l-4 border-blue-500 pl-2">
            <turbo-frame id="comment_edit_{{ comment.id }}">
                {% if app.user == comment.user or is_granted('ROLE_ADMIN') %}
                    <nav aria-label="Comment actions" class="flex gap-2 text-sm">
                        <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-blue" data-turbo-frame="comment_edit_{{ comment.id }}">{{ ux_icon('ic:outline-edit', { class: 'w-5 h-5' }) }}<span class="md">{{'edit'|trans}}</span></a>
                        {{ include('comment/_delete_form.html.twig', {'comment': comment}) }}
                    </nav>
                {% endif %}
                <p>{{ comment.content }}</p>
                <p class="text-sm secondary-text">{{ comment.user.username }} • {{ comment.createdAt|ago }}</p>
            </turbo-frame>
        </article>
    {% else %}
        <p id="no_comment_artwork" class="secondary-text">{{'nocomments'|trans}}</p>
    {% endfor %}

    {% if app.user %}
        {{ include('comment/_form.html.twig') }}
    {% else %}
        <p class="text-sm secondary-text">{{'connecttocomment'|trans}}</p>
    {% endif %}
</section>