{% block create %}
    <turbo-stream action="append" target="comments_artwork">
        <template>
            <article id="comment_{{ comment.id }}" class="border-l-4 border-amber-500 pl-2">
                <turbo-frame id="comment_edit_{{ comment.id }}">
                    {% if app.user == comment.user or is_granted('ROLE_ADMIN') %}
                        <nav aria-label="Comment actions" class="flex gap-2 text-sm">
                            <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-blue" data-turbo-frame="comment_edit_{{ comment.id }}">{{ ux_icon('ic:outline-edit', { class: 'w-5 h-5' }) }}<span class="md">{{'edit'|trans}}</span></a>
                            {{ include('comment/_delete_form.html.twig', {'comment': comment}) }}
                        </nav>
                    {% endif %}
                    <p>{{ comment.content }}</p>
                    <p class="text-sm secondary-text">By {{ comment.user.username }} • {{ comment.createdAt|ago }}</p>
                </turbo-frame>
            </article>
        </template>
    </turbo-stream>

    <turbo-stream action="replace" target="new_comment_form">
        <template>
            {{ include('comment/_form.html.twig') }}
        </template>
    </turbo-stream>

    <turbo-stream action="remove" target="no_comment_artwork">
        <template></template>
    </turbo-stream>

    <turbo-stream action="remove" target="no_comment_user">
        <template></template>
    </turbo-stream>
{% endblock %}

{% block update %}
    <turbo-stream action="update" target="comment_{{ id }}">
        <template>
            <turbo-frame id="comment_edit_{{ comment.id }}">
                {% if app.user == comment.user or is_granted('ROLE_ADMIN') %}
                    <nav aria-label="Comment actions" class="flex gap-2 text-sm">
                        <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-blue" data-turbo-frame="comment_edit_{{ comment.id }}">{{ ux_icon('ic:outline-edit', { class: 'w-5 h-5' }) }}<span class="md">{{'edit'|trans}}</span></a>
                        {{ include('comment/_delete_form.html.twig') }}
                    </nav>
                {% endif %}
                <p>{{ comment.content }}</p>
                <p class="text-sm secondary-text">By {{ comment.user.username }} • {{ comment.createdAt|ago }}</p>
            </turbo-frame>
        </template>
    </turbo-stream>
{% endblock %}

{% block delete %}
    <turbo-stream action="remove" target="comment_{{ id }}"></turbo-stream>

    {% if remainingCommentsCount == 0 %}
        <turbo-stream action="append" target="comments_artwork">
            <template>
                <p id="no_comment_artwork" class="secondary-text">{{'nocomments'|trans}}</p>
            </template>
        </turbo-stream>
    {% endif %}
    {% if remainingUserCommentsCount == 0 %}
        <turbo-stream action="replace" target="comments_user">
            <template>
                <p id="no_comment_user" class="secondary-text">{{'profile.nocomments'|trans}}</p>
            </template>
        </turbo-stream>
    {% endif %}
{% endblock %}