{% block new_comment %}
    <turbo-stream action="after" target="comments_artwork">
        <template>
            <article id="comment{{ comment.id }}" class="mb-4 border-l-4 border-blue-500 pl-4">
                {% if app.user == comment.user or is_granted('ROLE_ADMIN') %}
                    <nav aria-label="Comment actions" class="mt-2 flex gap-2 text-sm">
                        <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="px-3 py-1 rounded bg-blue-300 dark:bg-blue-700 hover:bg-blue-400 hover:dark:bg-blue-600 text-sm inline-block transition">Edit</a>
                        {{ include('comment/_delete_form.html.twig', {'comment': comment}) }}
                    </nav>
                {% endif %}
                <p class="text-gray-800 dark:text-gray-200">{{ comment.content }}</p>
                <p class="text-sm text-gray-500">By {{ comment.user.username }} • {{ comment.createdAt|ago }}</p>
            </article>
        </template>
    </turbo-stream>
    <turbo-stream action="remove" target="no_comment_artwork">
        <template></template>
    </turbo-stream>
    <turbo-stream action="remove" target="no_comment_user">
        <template></template>
    </turbo-stream>
{% endblock %}