<turbo-frame id="comment_edit_{{ form.vars.value.id }}">
    {{ form_start(form, { action: path('app_comment_edit', {'id': form.vars.value.id}), method: 'POST', attr: {'class': 'flex items-center gap-2 p-2 rounded-lg border border-gray-200 focus-within:border-green-500 transition-colors'} }) }}
        {{ form_widget(form.content, { attr: { 'class': 'flex-1 bg-transparent border-0 outline-none resize-none placeholder-gray-500 text-sm leading-relaxed'}}) }}
        <button class="btn btn-green">{{ ux_icon('ic:outline-send', { class: 'w-5 h-5' }) }}<span class="md">{{'send'|trans}}</span></button>
    {{ form_end(form) }}
</turbo-frame>
