<header id="site-header" data-controller="header" class="fixed top-4 left-1/2 duration-300 transition-transform -translate-x-1/2 z-50 bg-white/70 dark:bg-gray-800/70 backdrop-blur-sm rounded-2xl shadow-lg px-4 md:px-8 py-4 w-[96%] max-w-5xl">
    <section class="flex justify-between items-center gap-2 md:gap-4">
        <a href="{{ path('app_artwork_index') }}" class="flex items-center gap-1 text-2xl font-bold">{{ ux_icon('ic:round-home', { class: 'w-6 h-6' }) }}ADG</a>
        {% if app.request.attributes.get('_route') == 'app_artwork_index' %}
        <form method="get" action="{{ path('app_artwork_index') }}" class="w-full flex-1">
            <input type="text" name="q" value="{{ query }}" placeholder="Search artworks..." class="w-full border border-gray-300 dark:border-gray-700 rounded-md px-2 md:px-4 bg-white/80 dark:bg-gray-700/80 placeholder-gray-500 dark:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-400">
        </form>
        {% endif %}
        <nav aria-label="Main navigation" class="flex justify-end items-center gap-2 md:gap-4">
            <button data-controller="theme" data-theme-target="button" data-action="click->theme#toggle" class="hidden sm:inline px-3 py-1 rounded bg-gray-300 dark:bg-gray-700 text-sm hover:bg-gray-400 dark:hover:bg-gray-600 transition">☀️</button>
            <div class="relative hidden sm:inline group">
            {% set flags = {
                'ar': 'flag:arab-4x3',
                'de': 'flag:de-4x3',
                'en': 'flag:gb-4x3',
                'es': 'flag:es-4x3',
                'fr': 'flag:fr-4x3',
                'hi': 'flag:in-4x3',
                'it': 'flag:it-4x3',
                'ja': 'flag:jp-4x3',
                'ko': 'flag:kr-4x3',
                'pt': 'flag:pt-4x3',
                'ru': 'flag:ru-4x3',
                'tr': 'flag:tr-4x3',
                'zh': 'flag:cn-4x3'
            } %}
                <button class="flex items-center gap-1 px-3 py-1 rounded bg-gray-300 dark:bg-gray-700 text-sm hover:bg-gray-400 dark:hover:bg-gray-600 transition">{{ ux_icon(flags[app.request.locale] ?? 'flag:gb-4x3', { class: 'w-5 h-5' }) }}<span class="hidden md:inline">{{ app.request.locale|upper }}</span></button>
                <ul class="absolute left-0 hidden group-hover:block z-50 bg-none shadow-md">
                    {% for lang, flag in flags %}
                        {% if app.request.locale != lang %}
                            <li>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': lang})) }}" data-turbo="false" class="flex items-center gap-1 px-3 py-1 text-sm rounded bg-gray-300 dark:bg-gray-700 hover:bg-gray-400 dark:hover:bg-gray-600 transition">{{ ux_icon(flag, { class: 'w-5 h-5' }) }}<span class="hidden md:inline">{{ lang|upper }}</span></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% if app.user %}
                <a href="{{ path('app_profile') }}" class="flex items-center gap-1 px-3 py-1 rounded bg-gray-300 dark:bg-gray-700 text-sm hover:bg-gray-400 dark:hover:bg-gray-600 transition">{{ ux_icon('ic:outline-account-circle', { class: 'w-5 h-5' }) }}<span class="hidden md:inline">{{'profile'|trans}}</span></a>
                <a href="{{ path('app_logout') }}" class="flex items-center gap-1 px-3 py-1 rounded bg-red-300 dark:bg-red-700 text-sm hover:bg-red-400 dark:hover:bg-red-600 transition">{{ ux_icon('mdi:logout', { class: 'w-5 h-5' }) }}<span class="hidden md:inline">{{'signout'|trans}}</span></a>
            {% else %}
                {% if (app.request.attributes.get('_route') != 'app_login') and (app.request.attributes.get('_route') != 'app_register') %}
                    <a href="{{ path('app_login') }}" class="flex items-center gap-1 px-3 py-1 rounded bg-gray-300 dark:bg-gray-700 text-sm hover:bg-gray-400 dark:hover:bg-gray-600 transition">{{ ux_icon('mdi:login', { class: 'w-5 h-5' }) }}<span class="hidden md:inline">{{'signin'|trans}}</span></a>
                {% endif %}
            {% endif %}
        </nav>
    </section>
</header>
