<nav aria-label="Artwork actions" class="flex justify-between items-center mb-4">
    <button data-controller="back-button" data-action="click->back-button#goBack" class="px-3 py-1 rounded bg-gray-300 dark:bg-gray-700 text-sm inline-block hover:bg-gray-400 dark:hover:bg-gray-600 transition">{{'back'|trans}}</button>
    {% if app.request.attributes.get('_route') == 'app_artwork_show' and (is_granted('ROLE_ADMIN') or is_granted('ROLE_ARTIST') and artwork.artist == app.user) %}
        <ul class="flex gap-2 md:gap-4">
            <li><a href="{{ path('app_artwork_edit', {'id': artwork.id}) }}" class="px-3 py-1 rounded bg-gray-300 dark:bg-gray-700 text-sm inline-block hover:bg-gray-400 dark:hover:bg-gray-600 transition">{{'edit'|trans}}</a></li>
            <li>{{ include('artwork/_delete_form.html.twig') }}</li>
        </ul>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'app_profile' %}
        <ul class="flex gap-2 md:gap-4">
            <li><a href="{{ path('app_profile_edit') }}" class="px-3 py-1 rounded bg-gray-300 dark:bg-gray-700 text-sm inline-block hover:bg-gray-400 dark:hover:bg-gray-600 transition">{{'edit'|trans}}</a></li>
        </ul>
    {% endif %}
</nav>