<form method="post" action="{{ path('app_order_cancel', {'id': order.id}) }}" data-turbo-confirm="{{'cancel.confirm'|trans}}">
    <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ order.id) }}">
    <button class="btn btn-red">{{ ux_icon('mdi:cancel-outline', { class: 'w-5 h-5' }) }}{{'order.cancel'|trans}}</button>
</form>