{% extends 'base.html.twig' %}
{% block title %}{{'profile'|trans}}{% endblock %}
{% block body %}
<section class="base main-color">
    {{ include('components/_nav.html.twig') }}
    <section class="w-full border-b border-gray-300 dark:border-gray-600 pb-4 flex flex-col justify-between items-center">
        <h2 class="text-3xl font-semibold">{{'hello'|trans }} {{ user.username }}</h2>
        <p class="secondary-text text-sm">Informations de votre compte</p>
        {% if 'ROLE_ARTIST' in user.roles or 'ROLE_ADMIN' in user.roles %}
            <a href="{{ path('app_artist_profile', {'username': user.username}) }}" class="btn btn-gray">Voir mon profile publique</a>
        {% endif %}
    </section>

    <ul class="w-full space-y-4 flex flex-col justify-between items-center">
        <li class="border-b border-dashed pb-4">
            <span>{{ user.username }}</span>
        </li>
        <li class="border-b border-dashed pb-4">
            <span>{{ user.email }}</span>
        </li>
        {% if 'ROLE_ARTIST' in user.roles or 'ROLE_ADMIN' in user.roles %}
            <li class="border-b border-dashed pb-4">
                <p class="text-sm text-center whitespace-pre-line">{{ user.bio|default('No Bio. Add one!') }}</p>
            </li>
        {% endif %}
    </ul>

    <p class="text-xs secondary-text text-right">{{'created'|trans }} {{ user.createdAt ? user.createdAt|ago : 'N/A' }}<br>{{'updated'|trans }} {{ user.updatedAt ? user.updatedAt|ago : 'N/A' }}</p>

    <nav class="flex flex-col sm:flex-row gap-2">
        {% if user.comments is not empty %}
            <a href="{{ path('app_my_comments') }}" class="btn btn-gray">Mes commentaires ({{ user.comments|length }})</a>
        {% endif %}
        {% if user.artworks is not empty %}
            <a href="{{ path('app_my_artworks') }}" class="btn btn-gray">Mes œuvres ({{ user.artworks|length }})</a>
        {% endif %}
        {% if user.conversations is not empty or user.artistConversations is not empty %}
            <a href="{{ path('app_my_conversations') }}" class="btn btn-gray">Mes conversations ({{ user.conversations is not empty ? user.conversations|length : user.artistConversations|length }})</a>
        {% endif %}
        {% if user.orders is not empty or user.artistOrders is not empty %}
            <a href="{{ path('app_my_orders') }}" class="btn btn-gray">Mes commandes ({{ user.orders|length + user.artistOrders|length }})</a>
        {% endif %}
    </nav>
</section>
{% endblock %}
