{% extends 'base.html.twig' %}
{% block title %}My Conversations{% endblock %}
{% block body %}
<section class="flex flex-col w-full bg-white dark:bg-gray-800 rounded-xl shadow-md items-start p-2 sm:p-4 gap-2 sm:gap-4">
    {{ include('components/_nav.html.twig') }}
    <section class="w-full border-b border-gray-300 dark:border-gray-600 pb-2 sm:pb-4">
        <h2 class="text-3xl font-semibold">💬 My Conversations</h2>
        <p class="text-gray-500 dark:text-gray-400 mt-1">Voici la liste de vos conversations</p>
    </section>

    {% if conversations is empty %}
        <p class="text-gray-600 dark:text-gray-300">{{'conversation.none'|trans}}</p>
    {% else %}
        <ul class="w-full space-y-2 sm:space-y-4">
            {% for conversation in conversations %}
                <li class="flex justify-between items-start rounded-xl shadow-md bg-gray-100 dark:bg-gray-700 p-2 sm:p-4">
                    <div class="flex-1">
                        {% set other = conversation.getOtherParticipant(app.user) %}
                        <p class="text-xl font-semibold text-gray-800 dark:text-white">{{ conversation.artwork.title }}</p>
                        <p class="text-md font-semibold text-gray-800 dark:text-white">With {{ other.username }}</p>
                        <time datetime="{{ conversation.updatedAt|date('c') }}" class="block text-sm text-gray-500 dark:text-gray-400 mt-2">{{'updated'|trans}} {{ conversation.updatedAt|date('Y-m-d H:i') }}</time>
                    </div>
                    <div class="flex flex-col items-end gap-2">
                        <a href="{{ path('app_conversation', {artist: other.id, artwork: conversation.artwork.id}) }}" class="btn btn-gray">{{ ux_icon('ic:outline-arrow-forward', { class: 'w-5 h-5' }) }}<span class="md">{{'conversation.show'|trans}}</span></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
{% endblock %}
